{
  "presets": ["@babel/preset-react", "@babel/core", "@babel/preset-env"],
  "plugins": [
    [
      "styled-components",
      {
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "hooks": "./src/hooks",
          "components": "./src/components",
          "helpers": "./src/helpers",
          "layouts": "./src/layouts",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
